header{
  background: url('images/cover2.jpeg');
  background-position: center;
}
body{
  background: rgb(222, 235, 233);
  text-align: center;
}
section{
  background:#ffffff;
  padding:10px 20px 10px 20px;
  margin: 2px;
  box-shadow: 3px 5px 8px rgb(0, 0, 0, 0.3);
  text-align: center;
}
a{
  text-decoration: none;
  color: rgb(40,44,52);
}
h1{
  color: rgb(40,44,52);
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
}
h2{
  color: rgb(130,0,0);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:200;
  text-align: center;
}
h3, p, li{
  color: rgb(40,44,52);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:300;
}
li{
  text-align: left;
}
h3{
  text-align: center;
}
h4{
  color:rgb(40,44,52);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:200;
  text-align: center;
  padding-bottom: 15px;
  transition: 0.2s all;
}
a:hover{
  font-weight: bold;
}
header img{
  border-radius:50%;
  width: 200px;
  height:200px;
  margin: 25px 410px 0px 415px;
}
iframe{
  align-items: center;
}
